[build]
  base = "."
  publish = "dist"
  command = "npm run build"

[build.environment]
  NODE_ENV = "production"
  SECRETS_SCAN_OMIT_KEYS = "NODE_ENV,PORT,VITE_BACKEND_URL"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.processing]
  skip_processing = false

[build.processing.css]
  bundle = true
  minify = true

[build.processing.js]
  bundle = true
  minify = true

[build.processing.html]
  pretty_urls = true


